html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#first {
  flex: 0.8;
  background: #fdff3d;
  transform: rotate(180deg);
}
#second {
  flex: 0.8;
  background: #99fe46;
}

#setting {
  flex: 0.2;
  background: #f0372a;
}

#start_button {
  margin-left: 30px;
  width: 100px;
}

#setting_button {
  margin-left: 10px;
  width: 180px;
}

.timer {
  font-size: 40vmin;
  text-align: center;
  font-family: Impact;
}

#first_time {
}

#second_time {
}

#start_explain {
  text-align: center;
  color: red;
}

.second {
  text-align: center;
  font-family: Impact;
  font-size: 15vmin;
  color: white;
  -webkit-text-stroke: 3px black;
}
